.area{
    position: relative;
    height: 140px;
    /* background-color: aquamarine; */
}


.radiusBtn{
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid black;
    height: 25px;
    /* width: 125px; */
  }

.sfont{
    padding: 0 0.5rem;
    text-align: center;
}
.pm0{
    padding: 0;
    margin: 0;
}