/* @import '~antd/dist/antd.css'; */
/* .App {
  text-align: center;
} */

/* new */
.content{
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  display: flex;
}

.left-search-result {
  min-width: 200px;
  height: 100px;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
  background-color: antiquewhite;
}

.right-result-detail{
  min-width: 300px;
  height: 500px;
  padding-left: 0.5rem;
  padding-right: 0.4rem;
  background-color: lightblue;
}

.result-item{
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
